*{
    padding: 0px;
    margin: 0px;
}
.Card{
    width: 100%;
    height: auto;
    background: black;
    padding-bottom: 50px;
}
.child-card h1{
    color: white;
    text-align: center;
  padding-top: 200px;
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  text-shadow: 3px 3px 4px #891f85;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}
.child-card h2{
    text-align: center;
    color: #fbd725;
    margin: 10px 0 0;
    font-size: 22px;
    display: block;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 7px #fbd725;
}



/* MAIN CARDS START FROM HERE */
.main-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-div{
    height: 200px;
    background: yellow;
    margin: 0px 40px;
    margin-top: 140px;
    display: flex;
    color: #891f85;
    border-radius: 0.25rem!important;
    border: 1px solid orchid!important;
    -webkit-box-shadow: 0 0 15px rgb(216 98 212 / 53%);
    box-shadow: 0 0 15px rgb(216 98 212 / 53%);
    
}
.card-div img{
        width:200px;
        height:200px;
}
.mint-button{
    display: flex;
    justify-content: center;
}
.button2{
    text-decoration: none;
    display: flex;
    text-align: center;
    width: 145px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    margin-top: 110px;
    font-size: 25px;
    letter-spacing: .5px;
    font-weight: 500px;
    color: #fff;
    text-shadow: 0 0 7px #fff;
    -webkit-box-shadow: 1px 3px 15px hsl(0deg 0% 100% / 28%);
    box-shadow: 1px 3px 15px hsl(0deg 0% 100% / 28%);
    padding: 14px 50px;
    border-radius: 50px;
    border: 3px solid orchid;
}

.numbers{
    width: 100%;
    background: #1e1f25;
    height: auto;
    color: white;
    font-size: 15px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.main-num{
    display: flex;
    justify-content: space-around;
}
.main-num h2{
    font-size: 48px;
    line-height: 48px;
    padding-top: 40px;
    display: grid;
    margin-right: 100px!important;
    margin-left: 100px!important;
    font-weight: 700;
    margin: 30px!important;
    text-align: center;
    color: #fbd725;
    text-shadow: 0 0 7px #fbd725;
    margin: auto;
    margin-left: 200px;
}
.main-num span{
    padding-top: 16px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-shadow: none;
    font-size: 20px;
}



@media(max-width: 670px){
    .main-num{
        display: block;
    }
}
