*{
    padding: 0px;
    margin: 0px;
}
.container11{
    width: 100%;
    height: auto;
    background: #1e1f25;
    padding-bottom: 30px;
}
.head11 h1{
    font-size: 32px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgba(251,215,37,var(--tw-text-opacity));
    text-transform: uppercase;
    padding-bottom: 0;
}
.head11 p{
    font-size: 1.25rem;
    text-align: center;
    padding-top: 30px;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.main-container{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 28px;
}
.main-content h2{
    font-size: 20px;
    padding-top: 20px;
    color: white;
    transition: .4s;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 20px;
    height: 50px;
    margin-left: 100px;
    -webkit-box-shadow: 0 0 6px rgb(255 255 255 / 33%);
    box-shadow: 0 0 6px rgb(255 255 255 / 33%);
    background-color: rgba(30,31,37,.8);
    margin-right: 100px;
    transition: .4s;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;

}
.main-container h2 i{
    padding: 0px 10px;
    /* color: orchid; */
}
.icon{
    text-align: right;
    /* padding-left: 980px; */
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    margin: auto;
    /* width: 20px; */
}
.icons{
    color: rgb(129, 47, 47);
    
}

.footer-last{
    width: 100%;
    height:200px;
    background: #1e1f25;
    -webkit-box-shadow: 0 2px 15px hsl(0deg 0% 100% / 18%);
    box-shadow: 0 2px 15px hsl(0deg 0% 100% / 18%);
}
.flex-footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.flex-footer h2{
    --tw-text-opacity: 1;
    font-size: 18px;
    color: rgba(251,215,37,var(--tw-text-opacity));
}
.footer-icon{
    display: flex;
    margin-top: 20px;
}
.footer-icon i{
    font-size: 25px;
    display: flex;
    justify-content:center;
    background: orchid;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 25px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.footer-h1{
    width: 70%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.footer-h1 h1{
    width: 400px;
    font-size: 16px;
    font-weight: 700;
    color: orchid;
    position: relative;
    padding-bottom: 12px;
}





/* MEDIA QUERIES START FROM HERE/ */


@media(max-width: 600px){
    .main-content h2{
        margin: 0px 20px;
    }
}